[Unit]
Description=Run UrlChecker 2 days a Month
After=network.target

[Service]
User=sarik
WorkingDirectory=/home/sarik/urlcheckermachine/
Environment="PATH=/home/sarik/urlcheckermachine/venv/bin/:/usr/bin:/usr/bin/google-chrome"
ExecStart=/home/sarik/urlcheckermachine/venv/bin/python3 /home/sarik/urlcheckermachine/sheet_manager.py
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target